<template>
  <div class="container">
    <div class="list">

      <div class="list__box">
        <div class="list__box-parent">
          <ul>
            <li repeat.for="orgUnit of orgUnits">
              ${getName(orgUnit)}
            </li>
          </ul>
          <button click.trigger="getChildren()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Показать дочерние элементы
          </button>
        </div>
        <div class="list__box-children">
          <ul>
            <li repeat.for="child of children" click.trigger="getChildren()">
              ${getName(child)}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>






