body {
  .container {
    margin: 48px auto;
  }
  p {
    font-size: 36px;
  }
}

.list {
  ul {
    list-style-type: none;
    font-size: 18px;
    padding-right: 16px;
  }
}

.list__box {
  display: flex;
  flex-direction: column;

  .list__box-parent {
    display: flex;
    margin: auto;
    align-items: center;
  }
  .list__box-children {
    display: flex;
    margin: auto;
  }
}